# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [92]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [93]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

# read_cvs也可以
chipo = pd.read_table(url, sep = '\t')

### Step 4. See the first 10 entries

In [94]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [95]:
# Solution 1
print(chipo.shape[0])

4622

In [96]:
# Solution 2
# info and info()不一樣 
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [97]:
print(chipo.shape[1])

5

### Step 7. Print the name of all the columns.

In [98]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [99]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [100]:
most = chipo.groupby(by ='item_name', as_index=False)['quantity'].sum().sort_values('quantity', ascending = False)
most.head(1)

       item_name  quantity
17  Chicken Bowl       761

### Step 10. For the most-ordered item, how many items were ordered?

In [101]:
most.head(1)

       item_name  quantity
17  Chicken Bowl       761

### Step 11. What was the most ordered item in the choice_description column?

In [102]:
cmost = chipo.groupby(by ='choice_description', as_index=False)['quantity'].sum().sort_values('quantity', ascending = False)
cmost.head(1)

   choice_description  quantity
15        [Diet Coke]       159

### Step 12. How many items were orderd in total?

In [103]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [104]:
chipo.item_price.dtype
type(chipo.item_price)

pandas.core.series.Series

#### Step 13.b. Create a lambda function and change the type of item price

In [105]:
x = '$2.39'

x[1:]

'2.39'

In [106]:
dollarizer = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.item_price.dtype
type(chipo.item_price)

pandas.core.series.Series

In [107]:
chipo.item_price.head(4)

0    2.39
1    3.39
2    3.39
3    2.39
Name: item_price, dtype: float64

#### Step 13.c. Check the item price type

In [108]:
type(chipo['item_price'])
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [109]:
revenue = (chipo.quantity*chipo.item_price)
revenue.sum()
type(revenue)

pandas.core.series.Series

### Step 15. How many orders were made in the period?

In [110]:
chipo['order_id'].max()

1834

### Step 16. What is the average revenue amount per order?

In [111]:
# Solution 1
chipo['revenue'] = chipo['quantity']*chipo['item_price']
order_grouped =chipo.groupby(by ='order_id', as_index=False).sum()
order_grouped.mean()['revenue']
# chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# order_grouped = chipo.groupby(by=['order_id']).sum()
# order_grouped.mean()['revenue']

21.394231188658654

In [112]:
chipo.head(6)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98,10.98

In [116]:
# Solution 2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [124]:
len(chipo.item_name.unique())

# chipo.item_name.value_counts().count()

50

In [125]:
chipo.item_name.value_counts()
chipo.item_name.value_counts().count()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chicken Salad Bowl                       110
Chips and Fresh Tomato Salsa             110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Name: item_name, dtype: int64